##### Contents:
###### 1. Import Libraries
###### 2. Import dataframes
###### 3. Use groupby and agg functions to calculate mean of user_order_number
###### 4. Create Loyalty Flag for Exisiting Customer
###### 5. Assign loyalty flag
###### 6. Targeting Diverse Spenders
###### 7. Order Frequency Flag Based on Median Ordering Behavior
###### 8. Export dataframe

##### 1. Import Libraries

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

##### 2. Import dataframes

In [7]:
#Import orders_products_merged
path = r'C:\Users\Daniella\ACH4 - Instacart Basket Analysis'

In [15]:
ords_prods_merge=pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'ords_prods_merge_updated(new).pkl'))

In [17]:
# Create a subset of 1 million rows
df = ords_prods_merge[:1000000]

In [19]:
# Check shape of new subset
df.shape

(1000000, 18)

##### 3. Use groupby and agg functions to calculate mean of user_order_number

In [21]:
df.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

The mean order numbers seem to be higher for each department when looking at the entire data frame.

##### 4.Create Loyalty Flag for Exisiting Customer

In [23]:
# Create new column "max_order"
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Daniella\AppData\Local\Temp\ipykernel_34024\2088177565.py:2: FutureWarning: The provided callable <function max at 0x0000020A4C8EE7A0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [25]:
# Check new column
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
15,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,88,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10
16,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
17,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10
18,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10
19,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10

##### 5. Assign loyalty flag

In [27]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [31]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [33]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [35]:
# Check loyalty flag in dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(20)

    user_id  loyalty_flag  order_number  max_order
0         1  New customer             1         10
1         1  New customer             1         10
2         1  New customer             1         10
3         1  New customer             1         10
4         1  New customer             1         10
5         1  New customer             2         10
6         1  New customer             2         10
7         1  New customer             2         10
8         1  New customer             2         10
9         1  New customer             2         10
10        1  New customer             2         10
11        1  New customer             3         10
12        1  New customer             3         10
13        1  New customer             3         10
14        1  New customer             3         10
15        1  New customer             3         10
16        1  New customer             4         10
17        1  New customer             4         10
18        1  New customer             4         10
19        1  New customer             4         10

In [37]:
# Find the min, max and mean of each loyalty flag
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386335  1.0  99999.0
New customer      13.294669  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

##### 6. The team now wants to target different types of spenders in their marketing campaigns.
- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”\n",
- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.

In [39]:
# Create new column for average spender
ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Daniella\AppData\Local\Temp\ipykernel_34024\2864952345.py:2: FutureWarning: The provided callable <function mean at 0x0000020A4C8EF1A0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [41]:
# Create flag for low spender
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

In [43]:
# Create flag for high spender
ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [45]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31770614
High_spender      634245
Name: count, dtype: int64

In [47]:
# View columns of updated data frame
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(20)

    user_id  average_spend spender_flag  prices
0         1       6.367797  Low_spender     9.0
1         1       6.367797  Low_spender    12.5
2         1       6.367797  Low_spender     4.4
3         1       6.367797  Low_spender     4.7
4         1       6.367797  Low_spender     1.0
5         1       6.367797  Low_spender     9.0
6         1       6.367797  Low_spender     3.0
7         1       6.367797  Low_spender     4.4
8         1       6.367797  Low_spender    10.3
9         1       6.367797  Low_spender     4.7
10        1       6.367797  Low_spender     4.0
11        1       6.367797  Low_spender     9.0
12        1       6.367797  Low_spender     4.4
13        1       6.367797  Low_spender     3.0
14        1       6.367797  Low_spender     8.6
15        1       6.367797  Low_spender     3.2
16        1       6.367797  Low_spender     9.0
17        1       6.367797  Low_spender     4.4
18        1       6.367797  Low_spender     3.0
19        1       6.367797  Low_spender     8.6

##### 7. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [49]:
# Create a new column for frequet users
ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Daniella\AppData\Local\Temp\ipykernel_34024\1862414263.py:2: FutureWarning: The provided callable <function median at 0x0000020A4CA61800> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [50]:
# Create flag on order frequency
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Not regular customer'

In [53]:
ords_prods_merge.loc[(ords_prods_merge['Customer_frequency']>10) & (ords_prods_merge['Customer_frequency']<=20),'frequency_flag'] = 'Regular customer'

In [55]:
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [57]:
# Check flag frequency
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer       21559853
Regular customer         7208564
Not regular customer     3636437
NaN                            5
Name: count, dtype: int64

##### NaN value means that there are only 5 customers who have only bought once

In [59]:
# View columns of  data frame
ords_prods_merge[['user_id','days_since_prior_order', 'Customer_frequency', 'frequency_flag']].head(20)

    user_id  days_since_prior_order  Customer_frequency        frequency_flag
0         1                     NaN                20.5  Not regular customer
1         1                     NaN                20.5  Not regular customer
2         1                     NaN                20.5  Not regular customer
3         1                     NaN                20.5  Not regular customer
4         1                     NaN                20.5  Not regular customer
5         1                    15.0                20.5  Not regular customer
6         1                    15.0                20.5  Not regular customer
7         1                    15.0                20.5  Not regular customer
8         1                    15.0                20.5  Not regular customer
9         1                    15.0                20.5  Not regular customer
10        1                    15.0                20.5  Not regular customer
11        1                    21.0                20.5  Not regular customer
12        1                    21.0                20.5  Not regular customer
13        1                    21.0                20.5  Not regular customer
14        1                    21.0                20.5  Not regular customer
15        1                    21.0                20.5  Not regular customer
16        1                    29.0                20.5  Not regular customer
17        1                    29.0                20.5  Not regular customer
18        1                    29.0                20.5  Not regular customer
19        1                    29.0                20.5  Not regular customer

In [61]:
ords_prods_merge['prices'].describe()

count    3.240486e+07
mean     1.198023e+01
std      4.956429e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [63]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spender_flag,Customer_frequency,frequency_flag
1576,912404,17,12,2,14,5.0,21553,5,0,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Regularly busy,Regularly busy,Most orders,40,Regular customer,108.648300,High_spender,5.0,Frequent customer
1638,603376,17,22,6,16,4.0,21553,3,1,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Regularly busy,Regularly busy,Most orders,40,Regular customer,108.648300,High_spender,5.0,Frequent customer
16522,3264360,135,2,2,21,13.0,21553,6,0,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Regularly busy,Regularly busy,Average orders,4,New customer,1154.792236,High_spender,12.0,Regular customer
16528,892534,135,3,0,8,12.0,21553,3,1,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Busiest day,Busiest days,Average orders,4,New customer,1154.792236,High_spender,12.0,Regular customer
53672,229704,342,8,1,19,30.0,21553,9,0,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Regularly busy,Busiest days,Average orders,16,Regular customer,114.426620,High_spender,23.0,Not regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32320511,3172853,205650,18,1,9,7.0,21553,17,1,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Regularly busy,Busiest days,Most orders,25,Regular customer,351.141632,High_spender,6.0,Frequent customer
32347717,2504315,205818,3,5,15,3.0,21553,13,0,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Regularly busy,Regularly busy,Most orders,25,Regular customer,170.073776,High_spender,13.0,Regular customer
32347727,1108388,205818,5,4,5,1.0,21553,5,1,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Least busy,Slowest days,Fewest orders,25,Regular customer,170.073776,High_spender,13.0,Regular customer
32380527,1916142,206049,1,2,17,NaN,21553,2,0,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Regularly busy,Regularly busy,Average orders,5,New customer,938.031250,High_spender,7.0,Frequent customer
32380551,379732,206049,4,1,14,5.0,21553,4,1,Lowfat 2% Milkfat Cottage Cheese,...,High-range product,Regularly busy,Busiest days,Most orders,5,New customer,938.031250,High_spender,7.0,Frequent customer

In [65]:
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [67]:
ords_prods_merge['prices'].max()

25.0

##### 8. Export dataframe

In [69]:
ords_prods_merge.to_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'ords_prods_grouped.pkl'))